*{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
  }

body {
    background-color: black;
}

main{
    display: flex;   
    margin: 0.3vw;
}

div{
    background-color: #1a1919;
    margin-right: 1vw;
    border-radius: 0.8vw;
}

#main{
    background-color: #1a1919;
    height: 74vh;
    margin-right: .25vw;
    border-radius: 0.8vw;
    width: 73vw;
    margin-bottom: 0.4vw;
}

#playlist{
    width: 25vw;
    height: 74vh;
}

header{
    background-color: #1a1919;
    height: 10vh;
    margin: 0.3vw;
    margin-bottom: 0.5vw;
    border-radius: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white ;
    font-size: 2vw;
    margin-left: 1vw;
}

header ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100em;
}

li{
    list-style-type: none ;
}

input{
    border-radius: 1vw;
    color :#1a1919;
    width: 25vw;
    height: 5vh;
}

#lector{
    margin-right: 1vw;
}

#sound-bar{
    width: 10vw;
    margin-left: 1vw;
}

h2{
    margin-left: 8vw;
    color: white ;
    font-size: 1.5vw;
}

footer{
    background-color: #1a1919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8vw;
    width: 99vw;
    margin-left: .5vw;
    flex-grow: 1;
    color: white;
}

p{ 
    font-size: 1vw;
}

#lector-div, #play-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 5vh;
}

#pause-button{
    display: none;
}

header img{
    width: 3vw;
}

#playlist-choisi {
    background-color: #1a1919;
    height: 74vh;
    margin-right: 0.25vw;
    border-radius: 0.8vw;
    width: 73vw;
    margin-bottom: 0.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #playlist {
    width: 25vw;
    height: 74vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
  }

  #playlist li {
    margin-top: 3vh;
    margin-left: 6.5vw;
    color: white;
  }

  #son {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
    width: 70vw;
    transition: 0.3s;
  }
  
  #son:hover {
    background-color: #292727;
    width: 70.2vw;
  }
  
  #son div {
    transition: 0.3s;
  }
  
  #son:hover div {
    background-color: #292727;
  }
  
  #son img {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
  }
  
  #son p {
    font-size: 1vw;
  }

  #barre {
    background-color: white;
    width: 10vw;
    height: 0.2vh;
  }
  
  #detail-playlist {

    height: 8vh;
    background-color: #292727;
    transition: 0.3s;
    margin: 0;
  }

  #detail-playlist img {
    width: 3vw;
    height: 6vh;
    margin-right: 3vw;

    border-radius: 0.8vw;
  }
  
  #detail-playlist:hover {
    width: 85%;
    height: 8.5vh;
    margin-left: -0.95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #detail-album {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 85%;
    height: 8vh;
    background-color: #292727;
    transition: 0.3s;
    margin-left: 1vw;
  }

  #detail-album:hover {
    width: 70.5vw;
    height: 8.5vh;
  }

  #detail-album img {
    width: 3.5vw;
    height: 7vh;
    margin-right: 2vw;
    margin-left: 1vw;
    border-radius: 0.8vw;
  }

  .slider-container {
    overflow-y: scroll;
    height: 74vh;
  }

  #main ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5vw;
    transition: transform 0.5s ease;
    justify-content: space-around;
    margin-left: 3vw;
    margin-top: 3vh;
  }

  #genre{
    color: white;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 12vw;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  }

  #genre:hover{
    width: 13.5vw;
    height: 12.5vw;
  }

  #genre p{
    font-size: 1.7vw;
    font-weight: bold;

  }

  #album{
    width: 12vw;
    height: 11vw;
    background-color: green;
  }

  #creer-playlist{
    margin:0;
    border-bottom: white solid 1px;
    border-radius: 0;
  }
  #creer-playlist>*{
    margin-inline: auto;
  }
  




  #playlist>*{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  #playlist a{
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    
  }

  #playlist #detail-playlist a{
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #creer-playlist a{
    margin:0;
    margin-left: 15px;
    padding: 5px;
    background-color: #292727;
    border-radius:5px ;
  }

  #creer-playlist a:hover{
    background-color: #565454;
  }