.modif-detail{
    display: flex;
    justify-content: center;
}

.modif-detail>form, .detail, .modif-detail{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}
.detail>*{
    margin-inline: auto;
}

.form-label-admin, .img-album, .img-artiste, .img-genre{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    flex-direction: column;
}

.detail-album, .album-info, .artiste-info, .detail-artiste, .genre-info, .detail-genre{
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    color: antiquewhite;
    justify-content: center;
}
.album-info>h2{
    padding: 0;
    margin: 0;
}
.detail-album>label{
    margin-top: 15px;
}

.detail-album>select, .detail-album> input{
    width: 18%;
    text-align: center;
}

/* Styles for the genres checkboxes */
.genres-checkboxes {
    display: flex;
    flex-wrap: wrap;
    
}

.genre-checkbox {
    width: 20%; /* Ajustez la largeur selon vos besoins */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid wheat;
    margin-inline: auto;
    text-align: center;
}

.genre-checkbox>* {
    display: flex;
    flex-wrap: nowrap;
    margin-inline:auto ;
}

/* Style for the checkbox */
.genres-checkboxes input{
    margin: 0px;
    width: 25px;
    height: 25px;
}


.form-label-admin>input{
    
    width: 20%;
    margin-top: 4%;
}

.musique, .album{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    color: white;
}

.top>a:hover{
    color: blue;
}